<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap">
    <title>忘記密碼</title>
</head>
<body>
    <form action="{{ url_for('forgot_password') }}" method="post">
        {{ form.hidden_tag() }}
        <label for="email">電子郵件：</label>
        {{ form.email }}
        <button type="submit">{{ form.submit }}</button>
    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</body>
</html>