<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://www.google.com/recaptcha/enterprise.js" async defer></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap">
    <title>Document</title>
</head>
<body>
    <h1>登錄畫面</h1>
    <form action="{{ url_for('login') }}" method="post">
        {{ form.hidden_tag() }}
        <div class="g-recaptcha" data-sitekey="6LfLPnwqAAAAALG7AW42sl3IWvS3NnxRrTcoDygK" data-action="LOGIN"></div>
        <label for="email">電子郵件：</label>
        {{ form.email }}
        <label for="password">密碼：</label>
        {{ form.password }}
        {{ form.recaptcha }}
        <button type="submit">登錄</button>
    </form>
    <a href="/">返回首頁</a>
</body>
</html>